h1 {
	color: #FFF033;
	font-family: 'Castoro Titling',;
	text-align: center;
}
body { 
	color: rgb(30, 30, 30);
	background-color: #F8F9F9;
	font-family: 'Instrument Serif', serif;
	text-align: center;
}

a {
	background-color: #FFF9AB;
	text-decoration: none;
	color: #000000
	text-align: center;
}
.banner {
	teste-align: center;
	background-image: url(images/mc.jpg);
	padding: 100px 0;
}
.button{
	padding: 10px 15px;
	border-radius: 8px;
}
.card{
	border-radius: 6px;
	bow-shadow: 4px 4px 10px rgba(0,0,0.2);
	padding: 16px;

}
.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}
.card-image{
	width: 100%;
}
.main-section{
	max-width: 800px;
	margin: 0 auto;
}

@media screen and (max-width: 767px){
	.cards{
		grid-template-columns: 1fr;
	}
}